.ShowBox {
    box-shadow: 5px 5px 0px #8884d8;
    float: left;
    margin: 5em;
    width: 10em;
    height: 8em;
    border: #8884d8 solid 3px;
    color: #8884d8;
  }

  .ShowBox:hover {
    background-color: #8884d8;
    color: white;
  }

  .ShowBoxTitle {
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.5em;
    text-align: left;
    position: absolute;
  }

  .ShowBoxValue {
    font-size: 4.5em;
    transition: 0.1s;
    margin-top: 0.1em;
  }

