body {
  background-color: #282c34;
  margin: 0;
  padding: 0; 
  min-width: 300px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Container {
  width: 100%;
}

.LeftContainer {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.RightContainer {
  width: 50%;
  float: right;
}

.infoDiv {
  margin: 1em;
  padding: 1em;
  border: 1px solid #282c34;
  border-radius: 5px;
  background-color: #27beffcf;

}