body {
  background-color: #282c34;
  margin: 0;
  padding: 0; 
  min-width: 300px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Container {
  width: 100%;
  padding: 1em;
}

.LeftContainer {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.RightContainer {
  width: 50%;
  float: right;
}

.infoDiv {
  margin: 1em;
  padding: 1em;
  border: 1px solid #282c34;
  border-radius: 5px;
  background-color: #27beffcf;
  border: #282c34 1px solid;
  box-shadow: 0 5px 10px rgba(0, 0, 0);
}











nav {
  background-color: #27beffcf;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

nav a:hover {
  color: #ddd;
}

nav a.active {
  color: #ddd;
  border-bottom: 2px solid #ddd;
}
