body {
  text-align: center;
  background-color: #282c34;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.pocetsmg{
  border: 3px solid rgba(75,192,192,1);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float: left;
  color: rgba(75,192,192,1);
}

.Graf {
  float: right;
  color: rgba(75,192,192,1);
  margin: 3em;
  margin-top: 10em;
  margin-right: 10em;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}