body {
  text-align: center;
  background-color: #282c34;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Title {
  color: #8884d8;
  margin-top: 2em;
  text-align: left;
  margin-left: 1em;

}

.ShowBoxs-box {
  width: 100%;
}

nav {
  background-color: #8884d8;
  height: 3em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

nav ul li {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  size: 1.5;
  transition: all 0.5s ease;
}

a:active {
  text-decoration: none;
}

@media only screen and (max-width: 1410px){
  .Graf {
    width: 70%;
    top: 0;
  }

  .ShowBoxs-box{
    width: 10%;
    float: left;
    margin-left: 1em;
  }
} 

@media only screen and (max-width: 1000px){

  .Graf {
    width: 100%;
  }

  .ShowBoxs-box{
    width: 100%;
  }
} 

@media only screen and (max-width: 600px){
  .ShowBoxs-box{
    width: 100%;
    margin: 1em;
    margin-left: 10%;
  }
} 